/* Global */
a {
    text-decoration: none;
    color: inherit;
}

/* Header */
#header {
    background-color: #d16b18;
}

/* Navbar */
#my-nav {
    background-color: #ffdf7f;
}

.nav, .nav-link.active {
    border: 0;
    color: inherit;
}

.nav-link {
    --bs-nav-link-color: black;
}

.nav-tabs {
    --bs-nav-tabs-link-active-bg: #f8be12;
}

/* Review Search */
#review-search {
    height: 30vw;
    background: url(../images/concert.jpeg) center;
}