{% extends "base.html" %}
{% block content %}

    <section>
        <div class="row">
            <div class="col-1 col-lg-2 col-xxl-3"></div>
            <div id="recent" class="article col-10 col-lg-8 col-xxl-6">
                <h2 class="my-4">Reviews by Venue</h2>
                <div class="mx-5">
                    <h3>Venue</h3>
                    <h4>The Dome</h4>
                </div>
            </div>
            <div class="col-1 col-lg-2 col-xxl-3"></div>
        </div>
    </section>

{% endblock %}