{% extends "base.html" %}
{% block content %}
<header>
    <script src="{{ url_for('static', filename='js/api_delete_review.js') }}"></script>
</header>
    <section>
        <div class="row">
            <div class="col-1 col-lg-2 col-xxl-3"></div>
            <div class="article col-10 col-lg-8 col-xxl-6">
                <h2 id="log-in-title" class="m-5 ps-3">Delete a Review</h2>
                <div class="m-5">
                    <form id="delete-form" method="DELETE">
                        <label for="review_dropdown" class="mt-2 form-label">Review</label>
                        <select id="review_dropdown" class="form-control border border-dark-subtle" name="review_id" required></select>
                        <button id="delete-review-button" type="submit" class="my-3 px-4 btn btn-primary">Delete</button>
                    </form>
                </div>
            </div>
            <div class="col-1 col-lg-2 col-xxl-3"></div>
        </div>
        <button type="button" id="success-modal-trigger" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#success-modal" hidden>Modal</button>
        <div id="success-modal" class="modal fade" tabindex="-1" aria-labelledby="requestSuccess" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title fs-5" id="requestSuccess">Success!</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Your review was deleted!</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
    </section>
{% endblock %}
