{% extends "base.html" %}
{% block content %}
<header>
    <script src="{{ url_for('static', filename='js/api_recent.js') }}"></script>
</header>
    <section id="search-panel-long" class="search-panel">
        <div class="row">
            <div class="col-1 col-lg-2 col-xxl-3"></div>
            <div class="col-10 col-lg-8 col-xxl-6">
                <h2 class="mt-5 mb-4">Search for a gig review</h2>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Artist, tour, location..." aria-label="Search">
                    <button id="search-button" class="btn btn-danger px-3" type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="col-1 col-lg-2 col-xxl-3"></div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-1 col-lg-2 col-xxl-3"></div>
            <div id="recent" class="article col-10 col-lg-8 col-xxl-6">
                <h2 class="m-4">Recent Reviews</h2>
                <div class="review mx-5 p-5">
                    <h3 id="recent-reviews">Loading Reviews...</h3>
                </div>
            </div>
            <div class="col-1 col-lg-2 col-xxl-3"></div>
        </div>
    </section>
{% endblock %}