{% extends "base.html" %}
{% block content %}
<header>
    <script src="{{ url_for('static', filename='js/api_post_review.js') }}"></script>
</header>
    <section>
        <div class="row">
            <div class="col-1 col-lg-2 col-xxl-3"></div>
            <div class="article col-10 col-lg-8 col-xxl-6">
                <h2 id="log-in-title" class="m-5 ps-3">Post a Review</h2>
                <div class="m-5">
                    <form method="POST" action="{{ url_for('review.post_new_review', user_id=1) }}">
                        <label for="concert-dropdown" class="form-label">Concert</label>
                        <select class="form-control border border-dark-subtle" id="concert_dropdown"></select>
                        <label for="review-title" class="form-label">Review Title</label>
                        <input type="text" id="review-title" name="ReviewTitle" class="form-control border border-dark-subtle">
                        <label for="review-rating" class="form-label">Rating</label>
                        <input type="number" min="0" max="10" id="ReviewRating" name="review-rating" class="form-control border border-dark-subtle">
                        <label for="review-text" class="form-label">What did you think?</label>
                        <textarea id="review-text" name="ReviewText" class="form-control border border-dark-subtle"></textarea>
                        <button type="submit" class="mb-4 btn btn-success">Post</button>
                    </form>
                </div>
            </div>
            <div class="col-1 col-lg-2 col-xxl-3"></div>
        </div>
    </section>
{% endblock %}
