{% extends "base.html" %}
{% block content %}
<header>
    <script src="{{ url_for('static', filename='js/api_profile.js') }}"></script>
</header>
    <section>
        <div class="row">
            <div class="col-1 col-lg-2 col-xxl-3"></div>
            <div class="article col-10 col-lg-8 col-xxl-6">
                <h2 id="log-in-title" class="m-5 ps-3">{{user.UserName}}'s Profile</h2>
                <div class="m-5">
                    <h3 class="mx-5">Your Reviews</h3>
                    <div class="review mx-4 p-5">
                        <h3 id="user-reviews">Loading Reviews...</h3>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <button id="post-button" class="col-3 mx-3 mt-3 px-2 btn btn-success" type="button"><a href="{{ url_for('post_review', user_id=user.user_id) }}">Post new review</a></button>
                        <button id="edit-button" class="col-3 mx-3 mt-3 px-2 btn btn-primary" type="button"><a href="{{ url_for('patch_review', user_id=user.user_id) }}">Edit your reviews</a></button>
                        <button id="delete-button" class="col-3 mx-3 mt-3 px-2 btn btn-danger" type="button"><a href="{{ url_for('delete_review', user_id=user.user_id) }}">Delete a review</a></button>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
            <div class="col-1 col-lg-2 col-xxl-3"></div>
        </div>
    </section>
{% endblock %}