{% extends "base.html" %}
{% block content %}
<header>
    <script src="{{ url_for('static', filename='js/api_profile.js') }}"></script>
</header>
    <section>
        <div class="row">
            <div class="col-1 col-lg-2 col-xxl-3"></div>
            <div class="article col-10 col-lg-8 col-xxl-6">
                <h2 id="log-in-title" class="m-5 ps-3">{{user.UserName}}'s Profile</h2>
                <div class="m-5">
                    <h3 id="user-reviews" class="mx-5">Your Reviews</h3>
                    <button id="edit-button" class="mx-5 btn btn-primary">Edit</button>
                    <button id="delete-button" class="mx-5 btn btn-danger">Delete</button>
                </div>
            </div>
            <div class="col-1 col-lg-2 col-xxl-3"></div>
        </div>
    </section>
{% endblock %}