{% extends "base.html" %}
{% block content %}
<header>
    <script src="{{ url_for('static', filename='js/api_reviews_by_artist.js') }}"></script>
</header>
    <section class="search-panel">
        <div class="row">
            <div class="col-1 col-lg-2 col-xxl-3"></div>
            <div class="col-10 col-lg-8 col-xxl-6">
                <h2 class="mt-5 mb-4">Search for a gig review</h2>
                <form class="d-flex" role="search">
                    <input id="search-input" class="form-control me-2" type="search" placeholder="Artist, tour, location..." aria-label="Search">
                    <button id="search-button" class="btn btn-danger px-3" type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                    <button id="post-button" class="btn btn-success ms-2 px-3"><a href="{{ url_for('post_review', user_id=1) }}">Post a review</a></button>
                </form>
            </div>
            <div class="col-1 col-lg-2 col-xxl-3"></div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-1 col-lg-2 col-xxl-3"></div>
            <div id="by-artist" class="article col-10 col-lg-8 col-xxl-6">
                <h2 class="m-4">Reviews by Artist</h2>
                <div class="mx-5">
                    <div>
                        <h3 id="artist-names">Loading Artists...</h4>
                    </div>
                </div>
            </div>
            <div class="col-1 col-lg-2 col-xxl-3"></div>
        </div>
    </section>
{% endblock %}